//input data in h5ad format
params.input_data_path = "$projectDir/Input/Processed_herb_adata.h5ad"
//params.input_data_path = "$projectDir/Input/subseted_herb_adata.h5ad"
params.benchmarking_settings = "$projectDir/Input/benchmarking_settings.csv"

//Processes to run
//Set true to processes to be executed
params.run_benchmarking = true

//If run_benchmarking = true, select the methods to benchmark:
params.benchmark_scanvi = true
params.benchmark_scvi = true
params.benchmark_scanorama = true
params.benchmark_combat = true
params.benchmark_liger = true
params.benchmark_mnn = false
params.benchmark_desc = true
params.benchmark_saucie = false
params.benchmark_bbknn = true
params.benchmark_harmony = true
params.benchmark_scgen = true
params.benchmark_trvae  = true
params.benchmark_conos = true
params.benchmark_fastmnn = true
params.benchmark_seurat_cca = true
params.benchmark_seurat_rpca = true


