//input data in h5ad format
params.input_data = "/home/ernohanninen/master_project/Data/lungatlas.h5ad"
params.benchmarking_settings = "$projectDir/BenchmarkStudy/Input/benchmarking_settings.csv"

//Processes to run
//Set true to processes to be executed
params.run_benchmarking = true

//If run_benchmarking = true, select the methods to benchmark:
params.benchmark_scanvi = false
params.benchmark_scvi = false
params.benchmark_scgen = false
params.benchmark_scanorama = true
params.benchmark_bbknn = false
params.benchmark_combat = false
params.benchmark_desc = false
params.benchmark_harmony = false
params.benchmark_mnn = false
params.benchmark_saucie = false
params.benchmark_trvae  = false
params.benchmark_trvaep = false




