//input data in h5ad format
params.input_data_path = "/home/ernohanninen/master_project/Data/test.h5ad"
params.benchmarking_settings = "$projectDir/BenchmarkStudy/Input/benchmarking_settings.csv"

//Processes to run
//Set true to processes to be executed
params.run_benchmarking = true

//If run_benchmarking = true, select the methods to benchmark:
params.benchmark_scanvi = false
params.benchmark_scvi = false
params.benchmark_scanorama = false
params.benchmark_combat = false
params.benchmark_mnn = false
params.benchmark_desc = false
params.benchmark_saucie = true
params.benchmark_bbknn = false
params.benchmark_harmony = false
params.benchmark_scgen = false
params.benchmark_trvae  = false
params.benchmark_trvae_tl = false
params.benchmark_conos = false
params.benchmark_fastmnn = false
params.benchmark_liger = false
params.benchmark_seurat_cca = false
params.benchmark_seurat_rpca = false


